@charset "UTF-8";
/* CSS Document */

@-moz-@viewport{ width: device-width; scale: 1;}
@-ms-@viewport{ width: device-width; scale: 1;}
@-o-@viewport{ width: device-width; scale: 1;}
@-webkit-@viewport{ width: device-width; scale: 1;}
@viewport{ width: device-width; scale: 1;}


/*NORMAL CSS*/
html{
	@-moz-text-size-adjust:100%;	
	@-ms-text-size-adjust:100%;	
	@-o-text-size-adjust:100%;	
	@-webkit-text-size-adjust:100%;	
	text-size-adjust:100%;
}

img{
	width:100%;
}

.logo{
	margin-top: 1rem;
	width:25%;

}

body{
	font-size: 1rem;
	font-family: 'Alef', sans-serif;
	background: #FFFFFF url(../images/sushi-roll.jpg) no-repeat top center;
	background-attachment: fixed;

}


header{
	font-family: 'Krona One', sans-serif;
	font-size: 1.75rem;
	text-align: center;

}

/*240 px (small screen size)*/

h1{
	font-size: 1.75rem;
	padding: 0.75rem;
	font-family: 'Alef', sans-serif;
	margin: 0;
}

h2{
	font-size: 1.25rem;
	padding: 1rem;
	text-align: left;
	font-family: 'Poiret One', cursive;
	margin: 0;
}

.main h2{
	font-size: 1.5rem;
	color: grey;
	padding: 1rem;
	text-align: left;
	margin: 0;
}


h3{
	color:black;
	text-align: center;
	font-family: 'Krona One', sans-serif;
	font-size: 1.5rem;
	margin-top:0.75rem;
}


.main p{
	margin: .5rem 1% 1rem 5%;
	color:white;
}

p{
	margin: .75rem 5% 1.5rem;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	
}


address{
	text-align: center;
	color: white;
	font-size: .80rem;
	margin-bottom: .75rem;
}

.footer p{
	font-size: .5rem;
	margin-top: .5rem;
	display: block;
	text-align: center;
}

.transbox{
	background: rgba(13, 3, 15, .5);
	padding: 1.75rem;
	padding-top: 0;
}

.list.transparent{
		background: rgba(13, 3, 15, .5);

}

.front{
	margin: .25rem;
	width: 94%;
	border: 2px black solid;
}

@media only screen and (min-width: 15em){
	.main{
		margin: .5rem;
	}
	.transbox{
		background: rgba(13, 3, 15, .5);
		padding: 1rem;
		margin-left: 9%;
		width: 80%;
		padding-bottom: 3.5rem;

}

@media only screen and (min-width:17.5em){
	.main h2{
		font-size: 1.5rem;
		color: black;
		text-align: center;

	}

	address{
		font-size: 1rem;
		color: white;
		margin-top: 2rem;
		margin-bottom: -2rem;
	}

}

@media only screen and (min-width:20em){


	header{
		margin-top: 1.25rem;
	}

	h1{
		font-size: 2rem;
		padding-left:18.5%; 
		margin-top:-3.55rem;
		color: black;
	}

	.logo{
		position: relative;
		width: 3.25rem;
		margin-left:-14rem;
		margin-right: 1rem;
	}

	.main p{
	margin: .75rem 2% 1rem 9%;
	}
	
}

@media only screen and (min-width:24em){
	.main h2{
		text-align: center;
		color: black;
	}

	p{
		font-size: 1.25rem;
		margin: 1rem 10% 2rem;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		color: black;
	}

	.footer p{
		font-size: .75rem;
		color: black;
	}

}

/*400 px small/med screen*/
@media only screen and (min-width:25em){
	.logo{
		position: relative;
		width: 4rem;
		margin-left:-17rem;

	}

	header{
		margin-top: .25rem;
	}

}

/*550 px tablet size*/
@media only screen and (min-width:34.375em){
	.logo{
		float: left;
		margin-top: 2.5rem;
		margin-right: 0;
		margin-left: 5%;

	}

	h1{
		float: left;
		padding-left: .5rem;
		margin-top: 2.75rem;
		color: limegreen;
		
	}

	nav ul{
		margin-top: -0.75rem;
	}

	.main h2{
		margin-top: -1.5rem;
	}
}

/*700px*/
@media only screen and (min-width:43.75em){
	h1{
		float: left;
		margin-top: 3.5rem;
		margin-bottom: 2rem;
		margin-left: 1rem;
		padding: 0;
		color: purple;
	}

	.main h2{
		margin-top: -2.25rem;
	}
}

/*900 pxLARGE SCREEN*/
@media only screen and (min-width:56.25em){
	.front{
		width: 25rem;
		margin-left: 25%;
		border: 2px black solid;
	}

	.main p{
		margin-left: 21%;
		margin-right: 15%;
		text-align: left;
		color: white;
		margin-top: .25rem;
	}

	.main h2{
		text-align: center;
	}

	h2{
		margin-left: 5rem;
		text-decoration: underline;
		font-size: 2.5rem;
	}	

	address{
		margin-left: 5rem;
	}

}

/*TOGGLE NAV */
.hide-text{
	text-indent:100%;
	white-space:nowrap;
	overflow:hidden;
}

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display:block;
	height:40px;
	width:40px;
	position:absolute;
	top:10px;
	right:5%;
	background: url(../images/nav-icon.svg) no-repeat center center;}

.nav-btn:hover,
.nav-btn:focus,
.nav-btn:active{
	background-color:grey;
}

.nav{
	font-family: 'Krona One', sans-serif;
	
}

.nav a,
.nav a:link,
.nav a:visited{
	text-decoration: none;
	color: limegreen;
	font-size: 1rem;
	text-align: center;
	display: block;
	padding: .35rem;
}

.nav a:hover,
.nav a:focus,
.nav a:active{
	background-color: violet;
	color: white;
}

/*toggle nav css*/

.nav-top{
	display:none;

}

.nav-top[data-state="expanded"]{
	display:block;
}

.footer .nav-bottom a{
	text-decoration: none;
	color: black;
	font-size: .75rem;
	margin-bottom: .75rem;
	width: 25%;
	text-align: center;
	display: inline-block;
	float: left;		
}

.footer .nav-bottom a:hover,
.footer .nav-bottom a:focus,
.footer .nav-bottom a:active{
	background-color: lightgreen;
	color:purple;
}

/*small med screen*/
@media only screen and (min-width:25em){

	.nav{
		margin-left: 5%;
		margin-right: 2%;
		clear: both;
	}

	.nav a,
	.nav a:link,
	.nav a:visited{
		text-decoration: none;
		color: black;
		font-size: 1rem;
		text-align: center;
		display: block;
		margin-top: .5rem;
		padding: .55rem;
	}

	.nav ul{
		width: 100%;
		margin: 0 -2%;
	}

	.nav li{
		display: inline-block;
	}

	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited{
		display:none;
	}

	.nav-top{
		display: block;
	}
	
	.nav-bottom{
	display: none;
	}
}

@media only screen and (min-width:30em){
	.nav a,
	.nav a:link,
	.nav a:visited{
		text-decoration: none;
		color: purple;
	/*	background-color: rgb(143,219,158);
	*/	font-size: 1rem;
		text-align: center;
		display: block;
		padding: 1rem;
		margin: 10%;
		float: left;
	}
}

@media only screen and (min-width:35em){

	.nav li{
		display:inline-block;
		float:none;
		margin:0;
		width:auto;
	}
	
	.nav a, 
	.nav a:link,
	.nav a:visited{
		border-top: 0;
	}

/*	h1{
		float: left;
		margin-top: 3.5rem;
		margin-left: 1rem;
		padding: 0;
	}*/

	header{
		overflow:hidden;
	}
	
}
/*700px*/
@media only screen and (min-width:43.75em){
	.nav ul{
		display: inline-block;
		float: left;
		width: 70%;
		margin: -7.75rem 0 0 29%;
	}
}

@media only screen and (min-width:56.25em){
/*	.nav ul{
		margin: -6.5rem 0 0 50%;
	}*/
}

/*MENU*/

.list{
	display: none;
}

.price{
	float:right;
}

@media only screen and (min-width:30em){
	.accordion{
		display: none;
	}

	.list{
		display: list-item;
		background: rgba(13, 3, 15, .5)
	}
	
	.list li{
		font-size: 1rem;
		margin-left: 2rem;
		width:25rem;
		height:80%;
		float: left;
		margin-bottom: 2rem;
		margin-top: 2rem;
		display:block;
	}

	.list dt{
		font-size: 1.5rem;
		color: black;
		background: rgb(13, 3, 15, .1);
		text-align: center;
		display:block;

	}

	.list dd{
		text-align: left;
		display:inline-block;
		background: rgba(13, 3, 15, .2);
		font-size: 1.25rem;
		color: black;

	}

	.list dd:last-child{
		display: block;
		text-align: right;
	}
}

@media only screen and (min-width:39em){

	.list{
		display: list-item;
	}
	
	.list li{
		font-size: 1rem;
		margin-left: 2rem;
		width:20%;
		height:70%;
		float: left;
		margin-bottom: 2rem;
		margin-top: 2rem;
		display:inline-block;
	}

	.list dt{
		font-size: 1.5rem;
		color: black;
		background-color: lightcoral;		
		text-align: center;
		display:block;

	}
}

@media only screen and (min-width:40em){
	
	.list{
		display: list-item;
	}
	
	.list li{
		font-size: 1rem;
		margin-left: 2rem;
		width:40%;
		height:80%;
		float: left;
		margin-bottom: 2rem;
		margin-top: 2rem;
		display:inline-block;
	}

	.list dt{
		font-size: 1.5rem;
		background-color: lightcoral;
		text-align: center;
		display:block;

	}
}

.food{
	padding-left: .5rem;
	padding-right: .5rem;
	clear: both;
}


.food h2{
	color:brown;
	text-align: left;
	font-family: 'Krona One', sans-serif;
	font-size: 1rem;
	position: absolute;
	margin: -.75rem;
	width:55%;
	background-color: rgba(252,255,254,.7);
}

.food p{
	font-size: 1rem;
	line-height: 1.25rem;

}

.items{
	padding: .75rem;
}
/*240 px*/
@media only screen and (min-width: 15em){
	.food h2{
		font-size: .75rem;
		width: 40%;
		margin-left: 17%;
	}

	.items{
		padding:0;	
	}

	.food p{
	font-size: .75rem;
	line-height: 1rem;
	margin-top: .5rem;

	}
}

/*530px*/
@media only screen and (min-width: 33.125em){
	.items{
		width: 55%;
		margin-left: 24%;
	}

}


/*MENU PAGE*/

/*ACCORDION MENU*/
.accordion,
.accordion ul,
.accordion li,
.accordion a{
   margin: 0;
   padding: 0;
   list-style: none;
   float: none;
}
 

.accordion li {
	background-color: #ee395e;
	border: 1px solid #ce193e;
	border-bottom: none;
	position: relative;

}
.accordion li:last-child {
	border-bottom: 1px solid #ce193e;
}
.accordion li a {
	color: #fff;
	font-size: 14px;
	margin: 0;
	text-decoration: none;

}
.accordion li h3 {
	margin: 0;
	padding: 1rem;
	font-size: 1rem;
	color: black;
	-webkit-box-shadow: inset 200px 200px 0px 0px rgba(255, 255, 255, .6);    
	box-shadow: inset 200px 200px 0px 0px rgba(255, 255, 255, .6);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.accordion .hidden {
	background-color: #eee;
	height: 0;
	overflow: hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.accordion .hidden p {
	color: orange;
	font-family:Futura, "Trebuchet MS", Arial, sans-serif; 
	font-size: 1rem;
	margin: 10px;
}
.accordion a#item1:target + div.hidden,
.accordion a#item2:target + div.hidden,
.accordion a#item3:target + div.hidden,
.accordion a#item4:target + div.hidden,
.accordion a#item5:target + div.hidden,
.accordion a#item6:target + div.hidden,
.accordion a#item7:target + div.hidden,
.accordion a#item8:target + div.hidden,
.accordion a#item9:target + div.hidden{
	height: 200px;
}


/*LINKS*/
.fancy-link,
.fancy-link:link,
.fancy-link:visited{
	text-decoration: none;
	color: #1b90d3;
	font-weight: bold;
	border-bottom:0px solid #1b90d3;
}

.fancy-link:hover,
.fancy-link:active,
.fancy-link:focus{
	color:#0d70aa;
	border-bottom: 5px solid #0d70aa;
}

/*social icons*/

.fa{
	font-size: 1.5rem;
	line-height: 1;
}
.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.social{
	display: block;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 0;
}

.social li{
	display: inline-block;

}

.social li a,
.social li a:link,
.social li a:visited{
	display: block;
	height:45px;
	width:45px;
	margin-right:1rem;
	text-align: center;
	padding-top: .8125rem;
	
	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	
	color:#fff;
/*	background-color: #222;
*/
	-webkit-box-shadow: inset 0px 0px 0px 30px #222;
	-moz-box-shadow: inset 0px 0px 0px 30px #222;
	-ms-box-shadow: inset 0px 0px 0px 30px #222;
	-o-box-shadow: inset 0px 0px 0px 30px #222;
	box-shadow: inset 0px 0px 0px 30px #222;
}

.social li a:hover,
.social li a:active,
.social li a:focus{
	color:#222;
	
	-webkit-box-shadow: inset 0px 0px 0px 3px #222;
	-moz-box-shadow: inset 0px 0px 0px 3px #222;
	-ms-box-shadow: inset 0px 0px 0px 3px #222;
	-o-box-shadow: inset 0px 0px 0px 3px #222;
	box-shadow: inset 0px 0px 0px 3px #222;
}

@media only screen and (min-width:25em){
	.social li a,
	.social li a:link,
	.social li a:visited{
		height:50px;
		width:50px;
	}
}

/*Gallery Page*/

.flexslider{
	max-width: 45rem;
	margin:auto;
	border: 0;
	box-shadow: none;

}

.flex-caption{
	position: absolute;
	bottom:0;
	margin: 0;
	padding: 1rem;
	font-family: sans-serif;
	background-color: rgba(255,255,255,0.5);
}

/*384*/
@media only screen and (min-width:24em){
	.flexslider{
		max-width: 20rem;
		margin:50px auto;
	}
}

/*500px*/
@media only screen and (min-width:31.25em){
	.flexslider{
		max-width: 25rem;
	}
}

@media only screen and (min-width:46em){
	.flexslider{
		max-width: 35rem;
	}
}

/*About*/

.placeholder{
	width: 90%;
	margin: 0 2rem 0 .5rem;
	border: 2px solid black;
}

.hours {
	color: black;
	margin: 0 1rem 1.5rem;
	line-height: 1.5rem;

}


.hours dt{
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: .5rem;
}

.hours dd{
	line-height: 1.15rem;

}

.about p{
	color: black;
	margin-top: .5rem;
	margin-left: 1rem;
	font-size: .95rem;
}

@media only screen and (min-width:20em){
	.placeholder{
		margin-left:1rem;
	}

	.about p{
		color: black;
		margin-top: .5rem;
		margin-left: 1rem;
	}
}
/*small med screen*/
@media only screen and (min-width:25em){
	.about p{
		font-size: .80rem;
	}

}

@media only screen and (min-width:30em){
	.placeholder{
		margin-left: 1.5rem;
		max-width: 90%;
	}

	.about p{
		font-size: .80rem;
		margin-left: 1.5rem;
	}

	.hours {
		color: black;
		margin: 0 1rem 1.5rem;
		line-height: 1.5rem;
		text-align: center;

	}


	.hours dt{
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: .5rem;
	}

	.hours dd{
		line-height: 1.55rem;
		font-size: 1.25rem;

	}

}

@media only screen and (min-width: 35em){
	.placeholder{
		max-width: 90%;
	}
}

@media only screen and (min-width:56.25em){
	.about p{
		margin-left: 8rem;
	}

	.placeholder{
		width:70%;
		margin-left: 16%; 
		margin-right: 15%;
		}

	.hours {
		color: black;
		margin: 0 1rem 1.5rem;
		line-height: 1.5rem;
		text-align: center;

	}


	.hours dt{
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: .5rem;
	}

	.hours dd{
		line-height: 1.55rem;
		font-size: 1.25rem;

	}
}
